/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  padding: 20px;
}

#left {
  background: #666;
  color: #eee;
  width: 33.3%;
  float: left;
  margin-bottom: 20px;
}

#middle {
  background: #888;
  color: #eee;
  width: 33.3%;
  float: left;
  margin-bottom: 20px;
}

#right {
  background: #666;
  color: #eee;
  width:33.3%;
  float: left;
  margin-bottom: 20px;
}

#full {
  background: #eee;
  float: left;
}

#division {
  background: #6ea3da;
}

aside {
  background: #fff;
}

footer {
  background: #ccc;
  float: left;
}
